.container{
    text-align: center;
}

#addShopContainer{
    margin-top: 10px;
}

h1{
    font-weight: bold;
}

#error{
    display: none;
    color: red;
}

#map_addshop {
    height: 400px;
    width: 100%;
}