.container{
    text-align: center;
}

#addShopContainer{
    margin-top: 10px;
}

h1{
    font-weight: bold;
}

#error{
    display: none;
    color: red;
}

#map_addshop {
    height: 400px;
    width: 100%;
}

#ShopTable tr {
    border: 1px solid rgb(150, 150, 150);

}
#ShopTable {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}